table.activityTable {
    width: 100%;
}

table.stagesTable {
    table-layout: fixed;
}

table.activityTable td.activityTableHeader,
table.activityTable td.activityTableHeaderLast,
table.activityTable td.activityTableEven,
table.activityTable td.activityTableEvenLast,
table.activityTable td.activityTableOdd,
table.activityTable td.activityTableOddLast {
    vertical-align: middle;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 5px;
    height: 33px;
}

table.activityTable td.activityTableHeader,
table.activityTable td.activityTableHeaderLast {
    background: grey;
    border-bottom: 2px solid #BCBEC4;
    border-right: 1px solid #BCBEC4;
    background-image: url(/commander/lib/images/bg_listviewheader.gif);
}

table.activityTable td.activityTableHeaderLast,
table.activityTable td.activityTableEvenLast,
table.activityTable td.activityTableOddLast {
    text-align: right;
}

table.activityTable td.activityTableOdd,
table.activityTable td.activityTableOddLast {
    background: #F1F1F4;
}

table.activityTable td.activityTableEven,
table.activityTable td.activityTableEvenLast {
    background: #FFFFFF;
}

table.activityTable td.pipelineHeader {
    text-align: center;
}

table.activityTable td.pipelineArrowManual,
table.activityTable td.pipelineArrow {
    width: 14px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}

table.activityTable td.pipelineArrow {
    background-image: url(/commander/lib/images/icn_chevron.gif);
}

table.activityTable td.pipelineArrowManual {
    background-image: url(/commander/lib/images/icn_chevron_over.gif);
}

table.activityTable td.pipelineHeader,
table.activityTable td.pipelineNoJob,
table.activityTable td.pipelineNoJobVisited,
table.activityTable td.pipelineSuccessManual,
table.activityTable td.pipelineErrorManual,
table.activityTable td.pipelineSuccess,
table.activityTable td.pipelineWarning,
table.activityTable td.pipelineError {
    padding: 0px;
    width: 100px;
    height: 18px;
}

table.activityTable td.pipelineNoJobVisitedActive,
table.activityTable td.pipelineSuccessActive,
table.activityTable td.pipelineSuccessManualActive,
table.activityTable td.pipelineWarningActive,
table.activityTable td.pipelineErrorActive,
table.activityTable td.pipelineErrorManualActive {
    padding: 0px;
    width: 98px;
    height: 16px;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
}

table.activityTable td.pipelineSuccess:hover,
table.activityTable td.pipelineWarning:hover,
table.activityTable td.pipelineError:hover,
table.activityTable td.pipelineSuccessActive:hover,
table.activityTable td.pipelineWarningActive:hover,
table.activityTable td.pipelineErrorActive:hover {
    cursor:pointer;
}

table.activityTable td.pipelineNoJobVisitedActive,
table.activityTable td.pipelineSuccessActive,
table.activityTable td.pipelineSuccessManualActive,
table.activityTable td.pipelineWarningActive,
table.activityTable td.pipelineErrorActive,
table.activityTable td.pipelineErrorManualActive {
    border: 1px solid #333333;
}

table.activityTable td.pipelineNoJob {
    background: #CCCCCC;
}

table.activityTable td.pipelineNoJobVisited {
    background: #0099FF;
}

table.activityTable td.pipelineNoJobVisitedActive {
    background: #99D6FF;
}

table.activityTable td.pipelineSuccessManual,
table.activityTable td.pipelineSuccess {
    background: #00CC00;
}

table.activityTable td.pipelineSuccessActive,
table.activityTable td.pipelineSuccessManualActive {
    background: #99EB99;
}

table.activityTable td.pipelineWarning {
    background: #E6E600;
}

table.activityTable td.pipelineWarningActive {
    background: #FFFF66;
}

table.activityTable td.pipelineErrorManual,
table.activityTable td.pipelineError {
    background: #FF0000;
}

table.activityTable td.pipelineErrorActive,
table.activityTable td.pipelineErrorManualActive {
    background: #FF8080;
}

table.activityTable td.actionsSeparator {
    padding: 0px 6px 3px 6px;
    font-size: 80%;
}

.viewLink {
    white-space: nowrap;
    text-align: right;
}

.actionsLink {
    font-size: 80%;
    white-space: nowrap;
}

div.summaryText {
    font-size: 80%;
    white-space: nowrap;
}

.chartsPanel {
    padding-left: 10px;
}

.chartsTitle {
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 7px;
}
